{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "rules": { 
        "@typescript-eslint/ban-ts-comment": "off"
     },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ]
}
